@font-face {
  font-family: "Roboto";
  src: url(./font/Roboto/Roboto-Medium.ttf);
}
* {
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-family: "Roboto";
}

body {
  margin: 0;
  padding: 0;
}

ul {
  gap: 30px;
  display: flex;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}
.flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 50px;
}
.w-30 {
  width: 30%;
}
.w-50 {
  width: 45%;
  position: relative;
}

header {
  background: #f3d7b7;
  padding: 20px;
}

main {
  background: #f3d7b7;
  height: 700px;
  padding: 20px;
}

main button {
  width: Hug (193px) px;
  height: Hug (51px) px;
  top: 492px;
  left: 50px;
  padding: 16px 24px 16px 24px;
  gap: 10px;
  border-radius: 100px;
  color: white;
  background: #0a775f;
  border: none;
  opacity: 0px;
}

.circle {
  position: absolute;
  top: -70px;
  left: -70px;
  animation: 6s linear infinite anim;
}

footer {
  padding: 20px 0;
  background-color: #f3d7b7;
  color: #333333;
  padding: 30px;
}

footer ul a {
  color: #333333;
}

section img:hover {
  transform: scale(1.3);
}

@keyframes anim {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(-360deg);
  }
}
